TELNYX_API_KEY=KEY_your_telnyx_api_key_here
TELNYX_PUBLIC_KEY=
CONNECTION_ID=your_voice_api_application_connection_id
TELNYX_NUMBER=+13125550001
SPECIALIST_NUMBER=+13125550002
PUBLIC_URL=https://your-ngrok-url.ngrok-free.app
PORT=8787
AI_ASSISTANT_MODEL=openai/gpt-4o
AI_ASSISTANT_VOICE=voice ultra katie
