```
TELNYX_API_KEY=your_telnyx_api_key_here
CC_APP_CONNECTION_ID=your_call_control_app_connection_id_here
OPS_SMS_TO=+1555XXXXXXXX
NEW_NUMBER_TAG=clinic-north
POLL_INTERVAL_SECS=30
POLL_MAX_MINUTES=60
AREA_CODE=415
DEMO_MODE=true
```
