TELNYX_API_KEY=your_telnyx_api_key
TELNYX_PUBLIC_KEY=your_telnyx_public_key
MAIN_NUMBER=+1xxxxxxxxxx
CONNECTION_ID=your_connection_id
AI_MODEL=moonshotai/Kimi-K2.6
TTS_VOICE=AWS.Polly.Joanna-Neural
TTS_LANGUAGE=en-US
HUMAN_ESCALATION_NUMBER=+1xxxxxxxxxx
HOST=127.0.0.1
PORT=5000
