```
TELNYX_API_KEY=your_telnyx_api_key_here
OUTBOUND_CONNECTION_ID=your_call_control_connection_id_here
OUTBOUND_CALLER_ID=+1555XXXXXXXX
DASHBOARD_ORIGIN=https://localhost:3000
MAX_CALL_MINUTES=1800
RESUME_RETRY_MAX=3
ANSWER_SILENCE_MS=3000
DECISION_TIMEOUT_MS=8000
```
