```
TELNYX_API_KEY=your_telnyx_api_key_here
OUTBOUND_CONNECTION_ID=<your_connection_id>
OUTBOUND_CALLER_ID=+1555XXXXXXXX
DF_TIMEOUT_S=15
DF_RTP_TIMEOUT_S=30
STRIKE_LIMIT=2
INCIDENT_SMS_E164=+1555XXXXXXXX
DIAL_WINDOW_START=09:00
DIAL_WINDOW_END=17:00
INCONCLUSIVE_RETRY_MAX=1
MAX_CALL_MINUTES=600
DEMO_MODE=true
```
