TELNYX_API_KEY=KEY_your_telnyx_api_key_here
TELNYX_CONNECTION_ID=your_call_control_application_id_here
TELNYX_PHONE_NUMBER=+15551234567
HUMAN_TRANSFER_NUMBER=+15557654321
TELNYX_AI_MODEL=meta-llama/Llama-3.3-70B-Instruct
BILLING_VOICE=Telnyx.Ultra.f786b574-daa5-4673-aa0c-cbe3e8534c02
SPECIALIST_VOICE=Telnyx.Ultra.00967b2f-88a6-4a31-8153-110a92134b9f
PORT=5000
