```
TELNYX_API_KEY=your_telnyx_api_key_here
ADMIN_SMS_FROM=+1555XXXXXXXX
ADMIN_SMS_TO=+1555XXXXXXXX
DASHBOARD_ORIGIN=https://dashboard.example.com
ROLLUP_CRON=0 * * * *
WARN_PCT=80
HARD_PCT=100
SPEND_LOOKBACK_DAYS=31
DEMO_MODE=true
```
