```
TELNYX_API_KEY=your_telnyx_api_key_here
CALL_CONTROL_CONNECTION_ID=your_call_control_connection_id_here
TELNYX_NUMBER=+1555XXXXXXXX
SUPERVISOR_DEVICE=+1555XXXXXXXX
DASHBOARD_ORIGIN=https://coach.example.com
NUDGE_MAX_PER_CALL=3
SILENCE_SECS=90
COACH_AUTH=your_integration_secret_id_here
```
