```
TELNYX_API_KEY=your_telnyx_api_key_here
PORTAL_ENC_KEY_REF=your_portal_encryption_key_ref_here
DOSSIER_WEBHOOK_AUTH=your_webhook_auth_secret_here
VISIT_LOOKBACK_DAYS=365
FILE_RETRY_MAX=3
PORTAL_BASE_URL=https://portal.demo.example
```
