TELNYX_API_KEY=
TELNYX_CONNECTION_ID=
TELNYX_FROM_NUMBER=
TELNYX_IVR_ASSISTANT_ID=
TELNYX_REPRESENTATIVE_ASSISTANT_ID=
TELNYX_PUBLIC_KEY=
PUBLIC_BASE_URL=
TRANSCRIPTION_ENGINE=Deepgram
TRANSCRIPTION_MODEL=nova-2
TRANSCRIPTION_LANGUAGE=en
START_TRANSCRIPTION_DURING_IVR=true
TELNYX_DRY_RUN=true
PORT=8000
