TELNYX_API_KEY=your_telnyx_api_key_here
TELNYX_PUBLIC_KEY=your_telnyx_public_key_base64
TELNYX_PRIMARY_CONNECTION_ID=your_primary_sip_connection_id
TELNYX_BACKUP_CONNECTION_ID=your_backup_sip_connection_id
TELNYX_FROM_NUMBER=+1555XXXXXXXX
SMS_FROM_NUMBER=+1555XXXXXXXX
TELNYX_OPS_ALERT_NUMBER=+1555XXXXXXXX
FAILURE_THRESHOLD=3
COOLDOWN_SECONDS=300
DIAL_TIMEOUT_SECS=30
TTS_VOICE=Telnyx.Ultra.f786b574-daa5-4673-aa0c-cbe3e8534c02
DEMO_MODE=true
