TELNYX_API_KEY=your_telnyx_api_key_here
TELNYX_PRIMARY_CONNECTION_ID=your_primary_sip_connection_id
TELNYX_BACKUP_CONNECTION_ID=your_backup_sip_connection_id
TELNYX_FROM_NUMBER=+1555XXXXXXXX
TELNYX_OPS_ALERT_NUMBER=+1555XXXXXXXX
TELNYX_WEBHOOK_SECRET=your_webhook_signing_secret
FAILURE_THRESHOLD=3
COOLDOWN_SECONDS=300
DEMO_MODE=true
PORT=5000
