```
TELNYX_API_KEY=your_telnyx_api_key_here
OUTBOUND_CONNECTION_ID=<your_connection_id>
OUTBOUND_CALLER_ID=+1555XXXXXXXX
CLINIC_E164=+1555XXXXXXXX
FRONTDESK_E164=+1555XXXXXXXX
D1_DELAY_H=24
D7_DELAY_H=168
D14_DELAY_H=336
RESUME_RETRY_MAX=2
RED_FLAG_NOUL=0.8
SEVERITY_ESCALATE=3
ANSWER_SILENCE_MS=3000
```
