```
TELNYX_API_KEY=your_telnyx_api_key_here
RCS_AGENT_ID=your_rcs_agent_id_here
MESSAGING_PROFILE_ID=your_messaging_profile_id_here
SMS_FALLBACK_FROM=+1555XXXXXXXX
TRIAGE_EMERGENCY_NURSE=+1555XXXXXXXX
DECISION_TIMEOUT_MS=8000
WEBHOOK_PATH=/webhook/message
```
