TELNYX_API_KEY=your_telnyx_api_key
MAIN_NUMBER=+18005551234
MESSAGING_PROFILE_ID=your_messaging_profile_id
AI_MODEL=moonshotai/Kimi-K2.6
BUCKET_NAME=voiceovers
# Cloud Storage region. Options: us-central-1, us-east-1, us-west-1, eu-central-1
TELNYX_STORAGE_REGION=us-central-1
HOST=127.0.0.1
