TELNYX_API_KEY=KEY_your_telnyx_api_key_here
TELNYX_CONNECTION_ID=your_call_control_application_id_here
TELNYX_PHONE_NUMBER=+15551234567
HUMAN_TRANSFER_NUMBER=+15557654321
SPECIALIST_FROM_NUMBER=
TELNYX_AI_MODEL=meta-llama/Llama-3.3-70B-Instruct
BILLING_VOICE=Telnyx.Ultra.f786b574-daa5-4673-aa0c-cbe3e8534c02
SPECIALIST_VOICE=Telnyx.Ultra.0d42f0f6-c019-4082-b250-1c16133d1c82
PORT=5000
