TELNYX_API_KEY=your_telnyx_api_key_here
VERIFY_PROFILE_ID=your_verify_profile_id_here
TELNYX_WEBHOOK_PUBLIC_KEY=your_webhook_public_key_here
STEPUP_METHOD=flashcall
LOOKUP_CACHE_MIN=60
STEPUP_WINDOW_DAYS=30
LOCK_THRESHOLD=3
LOCK_HOURS=24
DEMO_MODE=true
