TELNYX_API_KEY=your_telnyx_api_key_here
TELNYX_PUBLIC_KEY=your_telnyx_public_key_here
AI_MODEL=moonshotai/Kimi-K2.6
DEMO_MODE=true
SALES_TEAM_NUMBER=+15550000001
FROM_NUMBER=+15550000000
EVENT_NAME=TechHorizon Summit 2026
GIVEAWAY_PRIZE=Telnyx Developer Kit
EMAIL_FROM=onboarding@mail.telnyx.com
EMAIL_TO=you@example.com
FOLLOWUP_DELAY_SECONDS=300
