TELNYX_API_KEY=your_telnyx_api_key_here
TELNYX_SMS_FROM=+1555XXXXXXXX
NOTIFY_PHONE_NUMBER=<your_phone_number>
BLOBSTORE_BUCKET=<your_blobstore_bucket>
CLOUD_STORAGE_BUCKET=<your_cloud_storage_bucket>
SQL_CONNECTION_STRING=<your_sql_connection_string>
DEMO_MODE=true
</arg_value>
